* {
    background-color: rgb(3, 1, 22);
    color: #fff;
    box-sizing: border-box;
}

input {
    height: 70px;
    font-size: 1.8rem;
    border-radius: 10px;
    background-color: rgba(43, 42, 42, 0.95);
    color: #2e60e0;
    border: none;
    cursor: pointer;
}

.display {
    grid-column: span 4;
    height: 70px;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    background-color: #add1ed;
    color: #000;
    border: none;
}

#myform {
    max-width: 420px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
}

/* Mobile view */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    input[type="button"] {
        height: 60px;
        font-size: 1.5rem;
    }

    .display {
        height: 60px;
        font-size: 1.6rem;
    }
}